# PRE-PROCESSOR-INPUT de_de.txt

regionFilter:
  shopRegionPattern: '^(shop[0-9]+)|adminshop$'
  shopRegionWorlds:
    - world

playerMessages:
  languageCommandUsage: '@{MESSAGE-LANGUAGE-COMMAND-USAGE(prefix=lut["MESSAGE_PREFIX"])}'
  languageCommandUnknownLanguage: '@{MESSAGE-LANGUAGE-COMMAND-UNKNOWN-LANGUAGE(prefix=lut["MESSAGE_PREFIX"])}'
  languageCommandSelectionMade: '@{MESSAGE-LANGUAGE-COMMAND-SELECTION-MADE(prefix=lut["MESSAGE_PREFIX"])}'

  searchCommandInvalidSearch: '@{MESSAGE-SEARCH-COMMAND-INVALID-SEARCH(prefix=lut["MESSAGE_PREFIX"])}'
  searchCommandNoResults: '@{MESSAGE-SEARCH-COMMAND-NO-RESULTS(prefix=lut["MESSAGE_PREFIX"])}'
  searchCommandResponse: '@{MESSAGE-SEARCH-COMMAND-RESPONSE(prefix=lut["MESSAGE_PREFIX"])}'

  shopTeleportShopGone: '@{MESSAGE-SHOP-TELEPORT-SHOP-GONE(prefix=lut["MESSAGE_PREFIX"])}'
  shopTeleportTeleported: '@{MESSAGE-SHOP-TELEPORT-TELEPORTED(prefix=lut["MESSAGE_PREFIX"])}'

  shopSearchToggleNotInARegion: '@{MESSAGE-SHOP-SEARCH-TOGGLE-NOT-IN-A-REGION(prefix=lut["MESSAGE_PREFIX"])}'
  shopSearchToggleNowVisible: '@{MESSAGE-SHOP-SEARCH-TOGGLE-NOW-VISIBLE(prefix=lut["MESSAGE_PREFIX"])}'
  shopSearchToggleNowInvisible: '@{MESSAGE-SHOP-SEARCH-TOGGLE-NOW-INVISIBLE(prefix=lut["MESSAGE_PREFIX"])}'

# - current_page: Integer
# - number_pages: Integer
# - number_of_rows: Integer
# - last_slot: Integer
resultDisplay:
  title: '@{RESULT-DISPLAY-TITLE}'
  rows: 6
  paginationSlots$: 'range(0, 44)'
  items:
    # https://github.com/BlvckBytes/BukkitEvaluable#itemstack-section
    previousPage:
      slots$: 'last_slot - 8'
      type: PLAYER_HEAD
      textures$: 'lut["textures"][if current_page > 1 then "ARROW_LEFT" else "ARROW_LEFT_RED"]'
      name$: 'if current_page > 1 then @{PREVIOUS-PAGE-NAME-HAS} else @{PREVIOUS-PAGE-NAME-HAS-NOT}'
      lore$:
        - '" "'
        - '@{ANY-CONTROL-LORE-SPACER}'
        - '@{PREVIOUS-PAGE-LORE-LEFT-CLICK-DESCRIPTION}'
        - '@{PREVIOUS-PAGE-LORE-RIGHT-CLICK-DESCRIPTION}'
        - '@{ANY-CONTROL-LORE-SPACER}'
    # https://github.com/BlvckBytes/BukkitEvaluable#itemstack-section
    nextPage:
      slots$: 'last_slot'
      type: PLAYER_HEAD
      textures$: 'lut["textures"][if current_page < number_pages then "ARROW_RIGHT"
        else "ARROW_RIGHT_RED"]'
      name$: 'if current_page < number_pages then @{NEXT-PAGE-NAME-HAS} else @{NEXT-PAGE-NAME-HAS-NOT}'
      lore$:
        - '" "'
        - '@{ANY-CONTROL-LORE-SPACER}'
        - '@{NEXT-PAGE-LORE-LEFT-CLICK-DESCRIPTION}'
        - '@{NEXT-PAGE-LORE-RIGHT-CLICK-DESCRIPTION}'
        - '@{ANY-CONTROL-LORE-SPACER}'
    # - owner: String
    # - quantity: Int
    # - buy_price: Double
    # - sell_price: Double
    # - remaining_stock: Integer
    # - remaining_space: Integer
    # - can_buy: Boolean
    # - can_sell: Boolean
    # - loc_world: String
    # - loc_x: Integer
    # - loc_y: Integer
    # - loc_z: Integer
    # https://github.com/BlvckBytes/BukkitEvaluable#itemstack-section
    representativePatch:
      lore$:
        - '" "'
        - '@{ANY-CONTROL-LORE-SPACER}'
        - '@{REPRESENTATIVE-LORE-OWNER}'
        - '@{REPRESENTATIVE-LORE-QUANTITY}'
        - |
          if can_buy then
            list_of(
              @{REPRESENTATIVE-LORE-BUYING-PRICE},
              @{REPRESENTATIVE-LORE-REMAINING-STOCK(remaining_stock=if remaining_stock >= 0 then remaining_stock else "∞")}
            )
          else
            null
        - |
          if can_sell then
            list_of(
              @{REPRESENTATIVE-LORE-SELLING-PRICE},
              @{REPRESENTATIVE-LORE-REMAINING-SPACE(remaining_space=if remaining_space >= 0 then remaining_space else "∞")}
            )
          else
            null
        - '@{REPRESENTATIVE-LORE-LOCATION-COORDINATES}'
        - '@{REPRESENTATIVE-LORE-LOCATION-WORLD}'
        - '@{ANY-CONTROL-LORE-SPACER}'
    # - sorting_selections: Iterable<SortingCriterionSelection>
    # - selected_index: Integer
    # - has_permission: Boolean
    # https://github.com/BlvckBytes/BukkitEvaluable#itemstack-section
    sorting:
      slots$: 'last_slot - 6'
      type: COMPARATOR
      name$: '@{SORTING-NAME}'
      lore$:
        - '" "'
        - |
          flatten(
            @{ANY-CONTROL-LORE-SPACER},
            map(sorting_selections, (entry, entry_index) => (
              (if entry_index == selected_index then
                @{SORTING-LORE-ENTRY-PREFIX-ACTIVE}
              else
                @{SORTING-LORE-ENTRY-PREFIX-INACTIVE})
              & (lut["sortingSelectionStyle"][str(entry.selection)] ?? "&4?")
              & (lut["sortingCriteria"][str(entry.criterion)] ?? "&4?")
            )),
            @{ANY-CONTROL-LORE-SPACER},
            @{SORTING-LORE-LEFT-CLICK-DESCRIPTION},
            @{SORTING-LORE-RIGHT-CLICK-DESCRIPTION},
            @{SORTING-LORE-DROP-DESCRIPTION},
            @{SORTING-LORE-DROP-ALL-DESCRIPTION},
            @{ANY-CONTROL-LORE-SPACER}
          )
    # - filtering_selections: Map<ShopFilteringCriteria, PredicateSelection>
    # - selected_criteria: ShopFilteringCriteria
    # - has_permission: Boolean
    # https://github.com/BlvckBytes/BukkitEvaluable#itemstack-section
    filtering:
      slots$: 'last_slot - 2'
      type: HOPPER
      name$: '@{FILTERING-NAME}'
      lore$:
        - '" "'
        - |
          flatten(
            @{ANY-CONTROL-LORE-SPACER},
            map(filtering_selections, (entry) => (
              (if key(entry) == selected_criteria then
                @{FILTERING-LORE-ENTRY-PREFIX-ACTIVE}
              else
                @{FILTERING-LORE-ENTRY-PREFIX-INACTIVE})
              & (lut["filteringSelectionStyle"][str(value(entry))] ?? "&4?")
              & (lut["filteringCriteria"][str(key(entry))] ?? "&4?")
            )),
            @{ANY-CONTROL-LORE-SPACER},
            @{FILTERING-LORE-LEFT-CLICK-DESCRIPTION},
            @{FILTERING-LORE-RIGHT-CLICK-DESCRIPTION},
            @{FILTERING-LORE-DROP-ALL-DESCRIPTION},
            @{ANY-CONTROL-LORE-SPACER}
          )
    # https://github.com/BlvckBytes/BukkitEvaluable#itemstack-section
    filler:
      slots$:
        - 'last_slot - 7'
        - 'last_slot - 5'
        - 'last_slot - 4'
        - 'last_slot - 3'
        - 'last_slot - 1'
      type: BLACK_STAINED_GLASS_PANE
      name: " "

# File-global lookup table
lut:
  MESSAGE_PREFIX: '@{MESSAGE-PREFIX}'
  textures:
    ARROW_LEFT: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvODU1MGI3Zjc0ZTllZDc2MzNhYTI3NGVhMzBjYzNkMmU4N2FiYjM2ZDRkMWY0Y2E2MDhjZDQ0NTkwY2NlMGIifX19'
    ARROW_LEFT_RED: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZjg0ZjU5NzEzMWJiZTI1ZGMwNThhZjg4OGNiMjk4MzFmNzk1OTliYzY3Yzk1YzgwMjkyNWNlNGFmYmEzMzJmYyJ9fX0='
    ARROW_RIGHT: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvOTYzMzlmZjJlNTM0MmJhMThiZGM0OGE5OWNjYTY1ZDEyM2NlNzgxZDg3ODI3MmY5ZDk2NGVhZDNiOGFkMzcwIn19fQ=='
    ARROW_RIGHT_RED: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZmNmZTg4NDVhOGQ1ZTYzNWZiODc3MjhjY2M5Mzg5NWQ0MmI0ZmMyZTZhNTNmMWJhNzhjODQ1MjI1ODIyIn19fQ=='
    PLAYER_WARP_SKIN_FALLBACK: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZDEwNzA0NWU2NDk0NDg1NmY0YTQ3YzAxNjg4MWM2ZWFhNjI0NTNhODMyMmE5MmEwYzZjYzI0NDNlYjlhYmQzNCJ9fX0='
  sortingCriteria:
    BUYING_PRICE: '@{SORTING-LORE-CRITERIA-BUYING-PRICE}'
    SELLING_PRICE: '@{SORTING-LORE-CRITERIA-SELLING-PRICE}'
    OWNER_NAME: '@{SORTING-LORE-CRITERIA-OWNER-NAME}'
    STOCK_LEFT: '@{SORTING-LORE-CRITERIA-STOCK-LEFT}'
    SPACE_LEFT: '@{SORTING-LORE-CRITERIA-SPACE-LEFT}'
    ITEM_TYPE: '@{SORTING-LORE-CRITERIA-ITEM-TYPE}'
  sortingSelectionStyle:
    ASCENDING: '@{SORTING-LORE-SELECTION-STYLE-ASCENDING}'
    DESCENDING: '@{SORTING-LORE-SELECTION-STYLE-DESCENDING}'
    INACTIVE: '@{SORTING-LORE-SELECTION-STYLE-INACTIVE}'
  filteringCriteria:
    ADMINSHOP: '@{FILTERING-LORE-CRITERIA-ADMINSHOP}'
    CAN_BUY: '@{FILTERING-LORE-CRITERIA-CAN-BUY}'
    CAN_SELL: '@{FILTERING-LORE-CRITERIA-CAN-SELL}'
    HAS_STOCK_LEFT: '@{FILTERING-LORE-CRITERIA-HAS-STOCK-LEFT}'
    HAS_SPACE_LEFT: '@{FILTERING-LORE-CRITERIA-HAS-SPACE-LEFT}'
  filteringSelectionStyle:
    POSITIVE: '@{FILTERING-LORE-SELECTION-STYLE-POSITIVE}'
    NEGATIVE: '@{FILTERING-LORE-SELECTION-STYLE-NEGATIVE}'
    INVARIANT: '@{FILTERING-LORE-SELECTION-STYLE-INVARIANT}'