# PRE-PROCESSOR-INPUT de_de.txt

regionFilter:
  shopRegionPattern: '^shop[0-9]+$'
  shopRegionWorlds:
    - world

playerMessages:
  languageCommandUsage: '@{MESSAGE-LANGUAGE-COMMAND-USAGE(prefix=lut["MESSAGE_PREFIX"])}'
  languageCommandUnknownLanguage: '@{MESSAGE-LANGUAGE-COMMAND-UNKNOWN-LANGUAGE(prefix=lut["MESSAGE_PREFIX"])}'
  languageCommandSelectionMade: '@{MESSAGE-LANGUAGE-COMMAND-SELECTION-MADE(prefix=lut["MESSAGE_PREFIX"])}'

  shopTeleportCommandUsage: '@{MESSAGE-SHOP-TELEPORT-COMMAND-USAGE(prefix=lut["MESSAGE_PREFIX"])}'
  shopTeleportCommandUnknownWorld: '@{MESSAGE-SHOP-TELEPORT-COMMAND-UNKNOWN-WORLD(prefix=lut["MESSAGE_PREFIX"])}'
  shopTeleportCommandInvalidCoordinates: '@{MESSAGE-SHOP-TELEPORT-COMMAND-INVALID-COORDINATES(prefix=lut["MESSAGE_PREFIX"])}'
  shopTeleportCommandNoShop: '@{MESSAGE-SHOP-TELEPORT-COMMAND-NO-SHOP(prefix=lut["MESSAGE_PREFIX"])}'
  shopTeleportCommandShopGone: '@{MESSAGE-SHOP-TELEPORT-COMMAND-SHOP-GONE(prefix=lut["MESSAGE_PREFIX"])}'
  shopTeleportCommandTeleported: '@{MESSAGE-SHOP-TELEPORT-COMMAND-TELEPORTED(prefix=lut["MESSAGE_PREFIX"])}'

  searchCommandUsage: '@{MESSAGE-SEARCH-COMMAND-USAGE(prefix=lut["MESSAGE_PREFIX"])}'
  searchCommandInvalidSearch: '@{MESSAGE-SEARCH-COMMAND-INVALID-SEARCH(prefix=lut["MESSAGE_PREFIX"])}'
  searchCommandNoResults: '@{MESSAGE-SEARCH-COMMAND-NO-RESULTS(prefix=lut["MESSAGE_PREFIX"])}'
  searchCommandResponse: '@{MESSAGE-SEARCH-COMMAND-RESPONSE(prefix=lut["MESSAGE_PREFIX"])}'

# File-global lookup table
lut:
  MESSAGE_PREFIX: '@{MESSAGE-PREFIX}'
