# ______________             __________________               ________                        ______
#   __  ____/__  /_______________  /__  ___/__  /_________________  ___/__________ ________________  /_
#   _  /    __  __ \  _ \_  ___/  __/____ \__  __ \  __ \__  __ \____ \_  _ \  __ `/_  ___/  ___/_  __ \
#   / /___  _  / / /  __/(__  )/ /_ ____/ /_  / / / /_/ /_  /_/ /___/ //  __/ /_/ /_  /   / /__ _  / / /
#   \____/  /_/ /_/\___//____/ \__/ /____/ /_/ /_/\____/_  .___//____/ \___/\__,_/ /_/    \___/ /_/ /_/
#   /_/
#
# ChestShopSearch - Developed by BlvckBytes <blvckbytes@gmail.com>
# Repository - https://github.com/BlvckBytes/ChestShopSearch
# ASCII-Art - https://patorjk.com/software/taag/#p=display&f=Speed

commands:
  shopSearch:
    name: shopsearch
    aliases:
      - shs
  shopOverview:
    name: shopoverview
    aliases:
      - sho
  shopSearchToggle:
    name: shopsearchtoggle
    aliases:
      - shst
  shopSearchReload:
    name: shopsearchreload
    aliases:
      - shsrl

regionFilter:
  shopRegionPattern: '^(shop[0-9]+)|adminshop|zoospawn$'
  shopRegionWorlds:
    - world

playerMessages:
  searchCommandInvalidSearch: '{lut.prefix} <&c>Ungültige Suche: {error}'
  searchCommandNoResults: '{lut.prefix} <&c>Die Suche <&4>{query} <&c>erzielte <&4>keine Ergebnisse<&c>!'
  searchCommandResponse: '{lut.prefix} <&7>Die Suche <&a>{query} <&7>erzielte <&a>{result_count} Ergebnisse<&7>!'
  searchCommandBlankUi: '{lut.prefix} <&6>Achtung! <&7>Es werden <&6>keine der insgesamt {result_count} Einträge <&7>angezeigt, da alle Ergebnisse von deinen <&6>aktuellen Filtern <&7>ausgeschlossen werden!'
  shopTeleportShopGone: '{lut.prefix} <&c>Der Shop bei den Koordinaten <&4>{coordinates} <&c>in der Welt <&4>{world} <&c>existiert nicht mehr; entferne!'
  shopTeleportTeleported: '{lut.prefix} <&7>Du wurdest zum Shop von <&a>{owner} <&7>bei <&a>{coordinates} <&7>teleportiert!'
  shopSearchToggleNotInARegion: '{lut.prefix} <&c>Du befindest dich aktuell in keiner Shop-Region, die du besitzt!'
  shopSearchToggleNowVisible: '{lut.prefix} <&7>Die Sichtbarkeit der Region <&a>{region} <&7>von <&a>{owner} <&7>ist nun <&a>aktiviert<&7>!'
  shopSearchToggleNowInvisible: '{lut.prefix} <&7>Die Sichtbarkeit der Region <&a>{region} <&7>von <&a>{owner} <&7>ist nun <&c>deaktiviert<&7>!'
  pluginReloadedSuccess: '{lut.prefix} <&7>Das Plugin wurde erfolgreich <&a>neu geladen<&7>.'
  pluginReloadedError: '{lut.prefix} <&c>Ein Fehler trat während des Ladeprozesses auf. Überprüfe die Konsole!'

resultDisplay:
  title: |
    <container *if="has(owner)">
      <&8>{owner}'s Shops <&e>{current_page}<&8>/<&e>{number_of_pages}
    </container>
    <container *else>
      <&8>Shopsuche <&e>{current_page}<&8>/<&e>{number_of_pages}
    </container>
  rows: 6
  paginationSlots: '0..44'
  items:
    previousPage:
      slots: 'last_slot - 8'
      type: PLAYER_HEAD
      textures: '{lut.textures[current_page > 1 then "arrow_left" else "arrow_left_red"]}'
      name: |
        <reset>
          <container *if="current_page > 1">
            <&8>» <&6>Vorherige Seite <&8>«
          </container>
          <container *else>
            <&8>» <&c>Keine vorherige Seite <&8>«
          </container>
      lore: |
        <reset>
          <br/>
          {lut.spacer}<br/>
          <&8>➥ <&e>Linksklick <&7>Navigiere zur vorherigen Seite<br/>
          <&8>➥ <&e>Rechtsklick <&7>Springe zur ersten Seite<br/>
          {lut.spacer}
    nextPage:
      slots: 'last_slot'
      type: PLAYER_HEAD
      textures: '{lut.textures[current_page < number_of_pages then "arrow_right" else "arrow_right_red"]}'
      name: |
        <reset>
          <container *if="current_page < number_of_pages">
            <&8>» <&6>Nächste Seite <&8>«
          </container>
          <container *else>
            <&8>» <&c>Keine nächste Seite <&8>«
          </container>
      lore: |
        <reset>
          <br/>
          {lut.spacer}<br/>
          <&8>➥ <&e>Linksklick <&7>Navigiere zur nächsten Seite<br/>
          <&8>➥ <&e>Rechtsklick <&7>Springe zur letzten Seite<br/>
          {lut.spacer}
    representativePatch:
      lore: |
        <reset>
          <br/>
          {lut.spacer}<br/>
          <&8>♦ <&7>Besitzer: <&e>{owner}<br/>
          <&8>♦ <&7>Einheit: <&e>{quantity}x<br/>
          <container *if="can_buy">
            <&8>♦ <&7>Verkaufspreis: <&e>{buy_price}<br/>
            <&8>♦ <&7>Lagerbestand: <&e>{remaining_stock >= 0 then remaining_stock else "∞"}<br/>
          </container>
          <container *if="can_sell">
            <&8>♦ <&7>Ankaufspreis: <&e>{sell_price}<br/>
            <&8>♦ <&7>Platz: <&e>{remaining_space >= 0 then remaining_space else "∞"}<br/>
          </container>
          <&8>♦ <&7>Position: <&e>{loc_x} {loc_y} {loc_z} <&7>(<&e>{loc_world}<&7>)<br/>
          {lut.spacer}
    shopOwner:
      type: PLAYER_HEAD
      textures: '{textures}'
      name: |
        <reset>
          <&8>» <&6>{owner} <&8>«
      lore: |
        <reset>
          <br/>
          {lut.spacer}<br/>
          <&8>➥ <&e>Linksklick <&7>Angebote anzeigen<br/>
          {lut.spacer}
    backButton:
      slots: 'last_slot - 4'
      type: PLAYER_HEAD
      textures: '{lut.textures.back}'
      name: |
        <reset>
          <&8>» <&6>Zurück <&8>«
      lore: |
        <reset>
          <br/>
          {lut.spacer}<br/>
          <&8>➥ <&e>Linksklick <&7>Gelange zur Übersicht<br/>
          {lut.spacer}
    sorting:
      slots: 'last_slot - 6'
      type: COMPARATOR
      name: |
        <reset>
          <&8>» <&6>Sortierung <&8>«
      lore: |
        <reset>
          <br/>
          {lut.spacer}<br/>
          <container
            *for-sorting="sorting_selections"
            *for-separator={<br/>}
            *let-criterion="lut.sorting_criteria[sorting.criterion] ?? sorting.criterion"
            *let-renderer="lut.sorting_selection[sorting.selection] ?? sorting.selection"
          >
            <&8><&e *use="sorting.active">➥ <container [renderer] />
          </container>
          <br/>
          {lut.spacer}<br/>
          <&8>➥ <&e>Werfen <&7>Kriterium auswählen<br/>
          <&8>➥ <&e>Linksklick <&7>Sortierrichtung ändern<br/>
          <&8>➥ <&e>Alle werfen <&7>Nach unten verschieben<br/>
          <&8>➥ <&e>Rechtsklick <&7>Auswahlen zurücksetzen<br/>
          {lut.spacer}
    filtering:
      slots: 'last_slot - 2'
      type: HOPPER
      name: |
        <reset>
          <&8>» <&6>Filtern <&8>«
      lore: |
        <reset>
          <br/>
          {lut.spacer}<br/>
          <container
            *for-filtering="filtering_selections"
            *for-separator={<br/>}
            *let-criterion="lut.filtering_criteria[filtering.criterion] ?? filtering.criterion"
            *let-renderer="lut.filtering_selection[filtering.selection] ?? filtering.selection"
          >
            <&8><&e *use="filtering.active">➥ <container [renderer] />
          </container>
          <br/>
          {lut.spacer}<br/>
          <&8>➥ <&e>Werfen <&7>Kriterium auswählen<br/>
          <&8>➥ <&e>Linksklick <&7>Zustand umschalten<br/>
          <&8>➥ <&e>Rechtsklick <&7>Auswahlen zurücksetzen<br/>
          {lut.spacer}
    filler:
      slots: '(last_slot - 8)..last_slot'
      type: BLACK_STAINED_GLASS_PANE
      name: " "

sLut:
  textures:
    arrow_left: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvODU1MGI3Zjc0ZTllZDc2MzNhYTI3NGVhMzBjYzNkMmU4N2FiYjM2ZDRkMWY0Y2E2MDhjZDQ0NTkwY2NlMGIifX19'
    arrow_left_red: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZjg0ZjU5NzEzMWJiZTI1ZGMwNThhZjg4OGNiMjk4MzFmNzk1OTliYzY3Yzk1YzgwMjkyNWNlNGFmYmEzMzJmYyJ9fX0='
    arrow_right: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvOTYzMzlmZjJlNTM0MmJhMThiZGM0OGE5OWNjYTY1ZDEyM2NlNzgxZDg3ODI3MmY5ZDk2NGVhZDNiOGFkMzcwIn19fQ=='
    arrow_right_red: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZmNmZTg4NDVhOGQ1ZTYzNWZiODc3MjhjY2M5Mzg5NWQ0MmI0ZmMyZTZhNTNmMWJhNzhjODQ1MjI1ODIyIn19fQ=='
    player_warp_skin_fallback: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZDEwNzA0NWU2NDk0NDg1NmY0YTQ3YzAxNjg4MWM2ZWFhNjI0NTNhODMyMmE5MmEwYzZjYzI0NDNlYjlhYmQzNCJ9fX0='
    back: 'eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvMzdhZWU5YTc1YmYwZGY3ODk3MTgzMDE1Y2NhMGIyYTdkNzU1YzYzMzg4ZmYwMTc1MmQ1ZjQ0MTlmYzY0NSJ9fX0='

cLut:
  prefix: '<&7>[<&6>ShopSuche<&7>]'
  spacer: '<&8><&m>{" " ** 50}'
  sorting_criteria:
    BUYING_PRICE: 'Verkaufspreis'
    SELLING_PRICE: 'Ankaufspreis'
    OWNER_NAME: 'Besitzer'
    STOCK_LEFT: 'Lagerbestand'
    SPACE_LEFT: 'Platz'
    ITEM_TYPE: 'Item-Typ'
  sorting_selection:
    ASCENDING: '<&a>+ {criterion}'
    DESCENDING: '<&c>- {criterion}'
    INACTIVE: '<&7>/ <&m>{criterion}'
  filtering_criteria:
    ADMINSHOP: 'Adminshop'
    CAN_BUY: 'Kaufen'
    CAN_SELL: 'Verkaufen'
    HAS_STOCK_LEFT: 'Hat Lagerbestand'
    HAS_SPACE_LEFT: 'Hat Platz'
  filtering_selection:
    POSITIVE: '<&a>{criterion}'
    NEGATIVE: '<&c>{criterion}'
    INVARIANT: '<&7><&m>{criterion}'